spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: app-runner
  datasource:
    url: jdbc:postgresql://${LOCALHOST:localhost}:5432/${POSTGRES_DATABASE}?currentSchema=${POSTGRES_SCHEMA}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        hbm2ddl:
          auto: update
        show_sql: true
        format_sql: true
server:
  port: ${PORT}
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
security:
  jwt:
    secret: ${JWT_SECRET}
    access: 1
    refresh: 30